/*****************************/
/*** dark green style***/
/*****************************/

/* general 
----------------------------------------------*/
#jv-wrap-top, #jv-feats {
	background:#ffffff;}

#jv-path { 
	background: #E1F1F4; color:#333;}
#jv-news {
	color:#CCCCCC;}

	
/* logo change 
----------------------------------------------*/
#jv-header { 
	background:url(../../javanya/images/jv-m-logo.jpg) 0 0 no-repeat; }

div.jv-main_banner{
	width: 100%;
	height: 86px;
	background-color: #000000;
	background-image: url(../../javanya/images/1.jpg);
	background-repeat: repeat-x;
	background-position: center;
	margin-bottom: 15px;
}		
/* links style 
----------------------------------------------*/
a:link, a:visited {
	color:#0b80c5;}
a:hover, .banneritem_link a:hover {
	color:#0b80c5;}
li.latestnews, li.mostread {
	padding-right: 10px;
	padding-left: 10px;
}
li.latestnews a:link, li.latestnews a:visited, li.mostread a:link, li.mostread a:visited, div.jv-topmenu a:hover {
	color:#0b80c5;}
li.latestnews a:hover, li.mostread a:hover {
	color:#6aaa30;}
.banneritem_text a:link, .banneritem_link a:visited {
	color:#0b80c5;}
.readon {
	background: url(../images/green/jv-g-rm.gif) no-repeat;}
.moduletable_menu a:link, .moduletable_menu a:visited {	color:#999999;}

.pathway a:link, .pathway a:visited {	color:#999999;}
	
	
/* form style 
----------------------------------------------*/

	
	
/* module style 
----------------------------------------------*/
.moduletable_text h3 {	background:#e1f1f4; color:#333;}
#jv-user1 .moduletable h3, #jv-user2 .moduletable h3 {
	background:transparent;
	color: #007ac2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cbd8ea;
}

.moduletable h3, .moduletable_menu h3 {	background:#333300;}
.moduletable h3, .moduletable_menu h3  {	color:#fff;}
.moduletable_menu li {	border-bottom:1px dotted #cccc99; background: url(../images/green/jv-g-mn.png) 0px 0 no-repeat; }
.moduletable_menu a:hover {	background:#333300; color:#99cc00;}
.moduletable_menu a:active {	background:#ffffff; color:#ffffff;}
.moduletable_menu li li{	background: url(../images/green/jv-g-mn.png) 4px 2px no-repeat; }
	
	
/* content style 
----------------------------------------------*/
h2, div.contentheading , td.contentheading {
	color:#0099cc;
}
h1, .componentheading, .contenttoc th  {
	background:#0B80C5; }
.leading {
	border: dotted 1px #cccc99;}
.sectiontableentry1 {
	background:#F7F7EE; }
tr.sectiontableentry1 td, tr.sectiontableentry2 td {
	border-bottom:1px dotted #EAEAD7;}
	
/* left menu--------------------------------------------------*/

ul.menu {}
ul.menu li a {
	background-color: #0c5a88;
	color: #FFF;
}

ul.menu li a:hover { /*主選單滑過*/
	color:#fff;
	background-color: #07486E;
}
  
ul.menu li#current.active a { /*主選作用中樣式*/
	background-position:252px 0px;
	color:#fff;
	background-color: #07486E;
	background-image: url(../../javanya/images/ar_right_w.png);
	background-repeat: no-repeat;
}


ul.menu li#current.parent ul li a ,ul.menu li.parent ul li a { /*次選單樣式 */
	background-position:254px 0px;
	padding-left:30px;
	color:#4B7A96;
	background-color: #D8E3EF;
	background-image: url(../../javanya/images/h3rightbg-no.png);
	background-repeat: no-repeat;
	padding-right: 30px;
	margin-left: 0px;
}
  
ul.menu li.parent ul li a:hover {  /*作用中的次選*/
	padding-left:30px;
	color:#4B7A96;
	background-position:254px 0px;
	background-color: #E4ECF3;
	padding-right: 15px;
}
ul.menu li#current.parent ul li a:hover {  /* 滑過效果*/
	padding-left:30px;
	color:#4B7A96;
	background-position:254px 0px;
	background-color: #E4ECF3;
}
ul.menu li.parent li#current.active a  {  /*效果*/
	padding-left:30px;
	color:#3F657C;
	background-position:254px 0px;
	background-color: #bed4ec;
	background-image: url(../../javanya/images/ar_right_d.png);
	background-repeat: no-repeat;
}
  
  
  
ul.menu li.parent ul li#current.parent ul li a { /*次次選單樣式 */
	padding-left:60px;
	color: #999;
	background-color: #F5F5F5;
	background-image: url(../../javanya/images/h3rightbg-no.png);
	background-repeat: no-repeat;
} 
ul.menu li.parent ul li#current.parent ul li a:hover  {  /*作用中的次次選單 + 滑過效果*/
	padding-left:60px;
	color:#999999;
	background-position:254px 0px;
	background-color: #F0F0F0;
	background-image: url(../../javanya/images/ar_right_d.png);
	background-repeat: no-repeat;
}
ul.menu li.parent li.parent ul li a {  /*作用中的次次選單 + 滑過效果*/
	padding-left:60px;
	color:#999999;
	background-position:254px 0px;
	background-color: #F5F5F5;
}
ul.menu li.parent li.parent li#current.active a {
	color:#999;
	background-color: #F0F0F0;
	background-image: url(../../javanya/images/ar_right_w.png);
	background-repeat: no-repeat;
}
ul.menu li.parent li.parent li#current.active a ,ul.menu li.parent li.parent li a{padding-left:60px;} 
ul.menu a:link, ul.menu a:visited , ul.menu a:hover{ text-decoration:none;}  
